<ng-container>
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        <label for='name'>
          Nom du film:
          <br/>
          <input
            id='name'
            type="text"
            style="padding:8px;margin:15px auto;border: 0; border-bottom: 1px solid rgb(195, 195, 195)"
            placeholder="Filtre sur le nom"
            (keyup)="updateFilter($event, 'nom')"
          />
        </label>
      </div>
      <div class="col text-center">
        <label for='director'>
          Réalisateur:
          <br/>
          <input
            id='director'
            type="text"
            style="padding:8px;margin:15px auto;border: 0; border-bottom: 1px solid rgb(195, 195, 195)"
            placeholder="Filtre sur le réalisateur"
            (keyup)="updateFilter($event, 'realisateur')"
          />
        </label>
      </div>

      <div class="col text-center" *ngIf="countries.length > 0">
        <label for="country">
          Pays:
          <ng-select [multiple]="true" [(ngModel)]="filter.countries" id="country" (change)="updateFilter($event,'countries')"
                     (remove)="updateFilter($event,'countries')">
            <ng-option *ngFor="let country of countries" [value]="country.name">{{country.name}}</ng-option>
          </ng-select>

        </label>
      </div>

      <div class="col text-center">
        Satistiques:
        <br/>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-secondary" (click)=open(mostShow)>Diffusions</button>
          <button type="button" class="btn btn-secondary" (click)=open(bestRatio)>Ratio</button>
          <button type="button" class="btn btn-secondary" (click)=open(director)>Réalisateurs</button>
        </div>
      </div>

    </div>
    <hr/>
    <div class="row">
      <div class="col-lg-12">
        <ngx-datatable class="material striped" [rowHeight]="50" [rows]="rows" [columns]="columns" [limit]=10 [columnMode]="columnMode"
                       [footerHeight]="50"></ngx-datatable>
      </div>
    </div>

  </div>
</ng-container>

<ng-template #director let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Top 5 des réalisateurs avec la meilleure moyenne de diffusion</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngx-datatable class="material striped" [rowHeight]="50" [rows]="statistiques.director" [columns]="topColumns.director" [limit]=5
                   [columnMode]="columnMode"></ngx-datatable>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Ok</button>
  </div>
</ng-template>

<ng-template #mostShow let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Top 5 des films les plus diffusés</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngx-datatable class="material striped" [rowHeight]="50" [rows]="statistiques.mostShow" [columns]="topColumns.mostShow" [limit]=5
                   [columnMode]="columnMode"></ngx-datatable>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Ok</button>
  </div>
</ng-template>

<ng-template #bestRatio let-modal>
  <div class="modal-header">
    <h4 class="modal-title">To 5 des films avec le meilleur ratio</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngx-datatable class="material striped" [rowHeight]="50" [rows]="statistiques.bestRatio" [columns]="topColumns.bestRatio" [limit]=5
                   [columnMode]="columnMode"></ngx-datatable>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Ok</button>
  </div>
</ng-template>
